@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./fonts";

  html {
    font-family: "Poppins";
  }

  .resize-box {
    resize: both;
    overflow: hidden;
  }
}
